@model IEnumerable<CaseStudy001.Models.Product>

@{
    ViewBag.Title = "Ürün Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürün Listesi</h2>

<style type="text/css">
    .greenButton {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
    }

    .blueButton {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
    }
    /* Blue */
    .redButton {
        background-color: brown; /* Red */
        border: none;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
    }
    /* Red */
    .grayButton {
        background-color: lightslategray;
        border: none;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
    }
    /* Gray */
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradeMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            <button type="button" class="blueButton" onclick="location.href='@Url.Action("Edit","Products",new { id = item.Id })'">Düzenle</button> |
            <button type="button" class="grayButton" onclick="location.href='@Url.Action("Details", "Products", new { id = item.Id })'">Ürün Detayları</button> |
            <button type="button" class="redButton" onclick="location.href='@Url.Action("Delete", "Products", new { id = item.Id })'">Sil</button>
        </td>
    </tr>
}

</table>

<div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">
        <p>
            <button type="button" class="greenButton" onclick="location.href='@Url.Action("Create","Products")'">Yeni Ürün Ekle</button>
        </p>
    </div>
</div>
    
